body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    background-color: #dbebff;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
    display: flex;
    align-content: center;
    padding: 18px 14px;
    position: sticky;
    justify-content: space-between;
    margin-bottom: 24px;
}

p, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}