li {
  border-radius: 14px;
  list-style: none;
  padding-block: 4px;
  padding-inline: 12px;
  font-size: 20px;
  width: 20vw;
  overflow-wrap: break-word;
  text-align: center;
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

ul {
  padding: 0;
  width: fit-content;
  place-self: center;
}